body {
  background-image: url("app3.jpg");
  background-size: inherit;
}
.new-post{
  padding:16px 0;
  border-bottom:1px solid #ccc;
}
.new-post header,
.posts header{
  margin-bottom: 20px;
}
.posts .post{
  padding-left:10px;
  border-left:3px solid firebrick;
  margin-bottom: 30px;
}
.posts .post .info{
  color:#aaa;
  font-style:italic;

}